.contact{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 150px 0;
}
form{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box-wrapper{
    display: flex;
    justify-content: space-between;
}
.box-wrapper .input-box{
    width: 45%;
}
.contact .input-box{
    display: flex;
    flex-direction: column;
}
.input-box input, textarea, select{
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid #1e2125;
    color: #fff;
    padding-left: 3px;
}
textarea{
    border: 1px solid #1e2125;
    resize: none;
    width: 100%;
}
input[type="text"]{
    width: 100%;
}
button[type="submit"]{
    margin-top: 10px;
    height: 40px;
    width: 150px;
    background-color: transparent;
    border: 1px solid #1e2125;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 200ms;
    color: #fff;
}
button[type="submit"]:hover{
    border: 1px solid #fff;
    color: #000;
    background-color: #fff;
}
label{
    color: #fff;
    padding: 7px 0;
}
option{
    color: #000;
}
.input-box textarea:focus{
    border: 1px solid #275a9c;
}
.input-box input:focus{
    border-bottom: 1px solid #275a9c;
}